<tr>
  <td>
	<select>
	  <%= render :partial => "field_optgroup",
	             :locals => { :name => "Facility",
	                          :fields => facility_fields,
	                          :consider => f_type == "facility",
	                          :selected => selected } %>
	  <% if !first %>
	  <%= render :partial => "field_optgroup",
	             :locals => { :name => "Fridge",
	                          :fields => fridge_fields,
	                          :consider => f_type == "fridge",
	                          :selected => selected } %>
	  <%= render :partial => "field_optgroup",
	             :locals => { :name => "Schedule",
	                          :fields => schedule_fields,
	                          :consider => f_type == "schedule",
	                          :selected => selected } %>
	  <% end %>
	</select>
  </td>
  <td>
	<% if first %>
	Title
	<% else %>
	<button class="remove_row">Remove</button>
	<% end %>
  </td>
</tr>
