<div>
  <h2>Map</h2>
  <button class="remove_div">Remove mapping</button>
  <p>Data to map:
	<select>
	</select>
	 OR 
	<input type="text" class="mapper" />
  </p>
  <p>Name of map display:
	<input type="text" class="map_name" />
  </p>
  <table class="mapping">
	<thead>
	  <tr>
		<th>Condition</th>
		<th>Name</th>
		<th>Color</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<td><input type="text" /></td>
		<td><input type="text" /></td>
		<td>
		  <select>
			<option>red</option>
			<option>orange</option>
			<option>yellow</option>
			<option>green</option>
			<option>blue</option>
			<option>black</option>
			<option>white</option>
		  </select>
		</td>
	</tbody>
  </table>
</div>
