<tr>
  <td><input type="text" /></td>
  <td><input type="text" /></td>
  <td>
	<select>
	  <option>red</option>
	  <option>orange</option>
	  <option>yellow</option>
	  <option>green</option>
	  <option>blue</option>
	  <option>black</option>
	  <option>white</option>
	</select>
  </td>
  <td>
	<button class="remove_row">Remove</button>
  </td>
</tr>
