<head>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <script type="text/javascript"
		  src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
  <%= javascript_include_tag "utility" %>
  <%= javascript_include_tag "map2" %>
  <%= csrf_meta_tags %>
  <title>Malawi Vaccine Cold Chain</title>
</head>

<body>
    <div id="content">
        <div id="header">Malawi Vaccine Cold Chain</div>
        <span id="nav-bar">
            <table>
            </table> </span> <span id="map-canvas"></span>
        <div id="footer"></div>
    </div>
</body>
